* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---- CONTENEDOR FLOTANTE ---- */
.theme-floating {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--bs-body-bg);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ---- SWITCH ESTILO iOS ---- */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* CUANDO ESTÁ ACTIVADO */
input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* ICONOS */
.theme-floating i {
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}

body[data-bs-theme="light"] .bi-moon-stars-fill {
  opacity: 0.3;
}

body[data-bs-theme="dark"] .bi-sun-fill {
  opacity: 0.3;
}

/* ANIMACIÓN SUAVE DEL BODY */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchContainer i {
  pointer-events: none;
  color: #aaa;
}

.img-receta {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card {
  max-width: 320px;
  border: 1 solid transparent;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #aaa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
