* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 24px;
    color: #fff;
    background-color: #333;
}

h1 {
    margin: 0 0 24px 0;
}

ul {
    margin: 0 0 36px 0;
}